<html lang="pl">
    <%- include('../partials/head.ejs') %>
<body onload="shortA()">
    <%- include('../partials/nav.ejs') %>

    <div class="task-data-complete-back-button">
        <button onclick="location.href='/strona_glowna/serwis'">&#10094</button>
    </div>
    <div class="completeTaskh2">
        <h2>Uzupełnij dane usługi</h2>
    </div>

    <div class="add-complete-task">
        <div class="complete-data-client-outside">
            <h3>Dane Klienta:</h3>

            <div class="data-client1">
                <label>Imię: <span><%= clientR.name %></span></label><br>
                <label>Nazwisko: <span><%= clientR.lastName %></span></label><br>
            </div>
    
            <div class="data-client2">
                <label>Tel: <span><%= clientR.phone %></span></label><br>
                <label>E-mail: <span><%= clientR.email %></span></label><br>
                <label>Adres: <span><%= clientR.address %></span></label><br>
            </div>
        </div>

        <div class="complete-tasks">
            <h3>Dane usługi:</h3>

            <form class="form-complete-tasks" action="/strona_glowna/serwis/uzupelnij_dane/<%= task._id %>" method="POST" enctype="multipart/form-data">
                
                <div class="complete-tasks-first">

                <label for="nameOfService" class="show-label">Nazwa usługi: <span><%= task.nameOfService %></span> </label>
                <label for="placeOfAssembly" class="show-label">Miejsce montażu: <span><%= task.placeOfAssembly %></span></label>
                <label for="dateOfService" class="show-label">Data i godzina rozpoczęcia zaplanowanej usługi: <span><% if(moment(task.dateOfService).format('YYYY-MM-DD | HH:mm') !== 'Invalid date'){ %> <%= moment(task.dateOfService).format('YYYY-MM-DD | HH:mm') %> <% } %></span></label><br><br>

                <label for="dateOfAssembly">Data montażu:</label><br>
                <input type="date" id="dateOfAssembly" name="dateOfAssembly" value="<%= moment(task.dateOfAssembly).format('YYYY-MM-DD') %>"><br>        
                <label for="warrantyDate">Data gwarancji:</label><br>
                <input type="date" id="warrantyDate" name="warrantyDate" value="<%= moment(task.warrantyDate).format('YYYY-MM-DD') %>"><br>
                <label for="DateNextInspection">Data następnego przeglądu:</label><br>
                <input type="date" id="DateNextInspection" name="DateNextInspection" value="<%= moment(task.DateNextInspection).format('YYYY-MM-DD') %>"><br>

                </div>

                <div class="complete-tasks-second">

                <label for="firstLaunchDate">Data pierwszego uruchomienia urządzenia:</label><br>
                <input type="date" id="firstLaunchDate" name="firstLaunchDate" value="<%= moment(task.firstLaunchDate).format('YYYY-MM-DD') %>"><br><br>
                <label for="performedActivity">Jaka czynność ma być/była wykonywana:</label><br>
                <textarea name="performedActivity" id="performedActivity"><%= task.performedActivity %></textarea><br><br>
                <label for="dateTime">Podaj datę i godzinę wykonania czynności:</label><br>
                <input type="datetime-local" id="dateTime" name="dateTime" value="<%= moment(task.dateTime).format('YYYY-MM-DDTHH:mm') %>"><br><br>
                <label for="mountedDevices">Zamontowane urządzenia/części:</label><br>
                <textarea name="mountedDevices" id="mountedDevices"><%= task.mountedDevices %></textarea><br>

                </div>
                <br><br>

                <button>Uzupełnij dane usługi</button>
            </form>

        </div>

        <div class="complete-task-file">
            <h4>Dodaj pliki usługi</h4>

            <form class="form-complete-task-file" action="/strona_glowna/serwis/uzupelnij_dane/<%= task._id %>/dodaj_pliki" method="POST" enctype="multipart/form-data">

                <label for="invoice">Faktura za wykonanie zlecenia:</label><br>
                <input type="file" name="invoice" accept=".pdf,application/pdf" multiple><br><br>
                <label for="postWarrantyProtocols">Protokoły pogwarancyjne:</label><br>
                <input type="file" name="postWarrantyProtocols" accept=".pdf,application/pdf" multiple><br><br><br>

                <button>Dodaj pliki</button>
            
            </form>
        </div>
        
        <div class="view-invoice-protocols">
            <div class="view-invoice">
                <h5>Faktury:</h5>
                <% task.invoice.forEach(inv => { %>
                    <a href="/strona_glowna/klienci/<%= clientR._id %>/<%= task._id %>/<%= inv %>" class="inv" title="<%= inv %>">
                        <img src="/files-icon/pdf.png" alt="<%= inv %>" width="45" height="55"><br>
                        <span><%= inv %></span>
                    </a>
                <% }) %> <br>
            </div>

            <div class="view-protocols">
                <h5>Protokoły:</h5>
                <% task.postWarrantyProtocols.forEach(protocols => { %>
                    <a href="/strona_glowna/klienci/<%= clientR._id %>/<%= task._id %>/<%= protocols %>" class="prot" title="<%= protocols %>">
                        <img src="/files-icon/pdf.png" alt="<%= protocols %>" width="45" height="55"><br>
                        <span><%= protocols %></span>
                    </a>
                <% }) %> <br>
            </div>
        </div>
    </div><br><br><br><br><br>
    <%- include('../partials/footer.ejs') %>
    <script src="/js/jsServicePages/jsTaskDataComplete.js"></script>
</body>
</html>