<html lang="pl">
    <%- include('../partials/head.ejs') %>
<body>

        <embed src="/uploads/<%= user.login %>/<%= clientC.name %><%= clientC.lastName %><%= clientC._id %>/<%= taskId %>/<%= task %>" width="100%" height="100%" />
            
</body>
</html>